@import "../custom";
@import "../scss/components/card";

.landing {
    width: fit-content;
    height: 100%;
    margin: auto;
    .boxes-container {
        margin: calc($circle-radius / 2);
        max-width: 100%;
        width: fit-content;
        height: fit-content;
        position: relative;

        img {
            width: rem(350);
            max-width: 100%;
            user-select: none;
            -webkit-user-drag: none;
        }
        .box-choice {
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
            cursor: pointer;
            &.SCISSORS {
                top: 0;
                left: 50%;
            }
            &.PAPER {
                top: 37%;
                left: 95%;
            }

            &.SPOCK {
                top: 37%;
                left: 5%;
            }
            &.LIZARD {
                top: 90%;
                left: 20%;
            }
            &.ROCK {
                top: 90%;
                left: 80%;
            }
        }
    }
    
}

