@import "../custom";
@import "../scss/components/card";
.game {
    position: relative;
    & ~ * {
        flex: 0 !important;
    }
    flex: 1;
    .boxes {
        display: flex;
        justify-content: center;
        gap: rem(30);
        align-items: stretch;
        flex-wrap: wrap;
        .box {
            font-size: rem(25);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: rem(25);
            @include media-break-mobile-down {
                flex-direction: column-reverse;
            }
            .box-choice {
                position: relative;
                &.win {
                    z-index: -100;
                    box-shadow: 0px 0px rem(50) rem(5) rgba($white, .3) ;
                    $padding: 50;
                    @for $i from 1 to 3 {
                        div:nth-child(#{$i}) {
                            position: absolute;
                            width: calc(100% + #{rem($padding * $i)});
                            height: calc(100% + #{rem($padding * $i)});
                            box-shadow: 0px 0px rem(100) rem(5) rgba($white, .2) ;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .win-lose-button {
            width: fit-content;
            align-self: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 0 rrem(10);
            margin-top: rem(40);
            h2 {
                width: fit-content;
                margin: auto;
                font-weight: 700;
                font-size: rem(50);
                margin-bottom: rem(5);
            }
            input {
                min-width: none;
                max-width: 100%;
                background-color: white;
                color: $Dark-Text;
                text-align: center;
                font-weight: 700;
                font-size: rrem(20);
                padding: rem(10) rem(20);
                border-radius: rem(5);
                cursor: pointer;
                user-select: none;
            }
            @include media-break-mobile-down {
                position: absolute;
                bottom: rem(40);
                font-size: rem(35);
            }
        }
    }
}
