@import "./custom";
body{
    @include media-break-mobile-down {
        font-size: 10px;
    }
    @media (max-width: 400px) {
        font-size: 8px;
    }
    @media (max-width: 300px) {
        font-size: 5px;
    }
}
